<ion-header>
  <ion-toolbar>
    <ion-title>Equipe Médica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="corpo-equipe-medica">
          <p>Hospi Tal</p>
          <p>Rua Tal, nº 666, Londrina-PR</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="botoes">
  <ion-button expand="full" shape="round" routerLink="/alteracao-de-status">
    <ion-icon slot="start" name="person-add-outline"></ion-icon>
    Alteração de Status
  </ion-button>
  <br />
  <ion-button expand="full" shape="round" routerLink="/chat">
    <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
    Chat
  </ion-button>
  <br />
  <ion-button color="danger" routerLink="/home">
    Sair
  </ion-button>
</div>
</ion-content>