<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Nome:</ion-label>
    <ion-input type= "text" [(ngModel)]= "contato.nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">RG:</ion-label>
    <ion-input [(ngModel)]= "contato.rg"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">CPF:</ion-label>
    <ion-input [(ngModel)]= "contato.cpf"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label type= "text" position="floating">Endereço:</ion-label>
    <ion-input [(ngModel)]= "contato.endereco"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label type= "tel" position="floating">Telefone:</ion-label>
    <ion-input [(ngModel)]= "contato.telefone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">E-mail:</ion-label>
    <ion-input type= "email" [(ngModel)]= "contato.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha:</ion-label>
    <ion-input type="password" [(ngModel)]= "contato.senha"></ion-input>
  </ion-item>
  <br />
  <div class="seção-botões">
    <ion-button class="botão-cadastrar" color="secondary" expand="block" (click)="handleRegister()">Cadastrar</ion-button>
    <br />
    <ion-button class="botão-cancelar-cadastro" color="danger" routerLink="/home">Cancelar</ion-button>
  </div>
</ion-content>