.corpo-responsavel {
    margin: 5px;
    text-align: center;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.perfil {
    margin: 5px;
    width: 100px;
    height: 100px;
}

.botoes {
    text-align: center;
}